nav .nav-container {
    background-color: #f6f8fa;
    border-bottom: 1px solid #d8dee4;
    display: flex;
    align-items: center;
    padding: 5px;
}

nav .nav-container .nav-item {
    margin: 10px 5px;
}

nav .nav-container p.page-title {
    text-transform: lowercase;
}