#container,
#search-area,
#user-area,
#user-area .user-card {
  display: flex;
}

#container,
#search-area,
#user-area {
    flex-direction: column;
}

#search-area,
#user-area {
    flex: 1;

    align-items: center;
    justify-content: center;
}

#container {
    height: 100%;
}

#search-area {
    border-bottom: 1px solid #f6f8fa;
    max-height: 50%;
}

.card .card-img {
    max-width: 18%;
}

.card .card-img img {
    border: 1px solid #f6f8fa;
    border-radius: 50%;
    max-width: 100%;
}

.card .card-content {
    flex: 1;
    margin-left: 15px;
}
